@inject BoardCanvasSession Session
@implements IDisposable

<div class="fg-window-panel">
    <PlaceMachinePanel />
</div>

@code {
    protected override void OnInitialized() => Session.Changed += OnSessionChanged;
    private void OnSessionChanged() => InvokeAsync(StateHasChanged);
    public void Dispose() => Session.Changed -= OnSessionChanged;
}
